html, body {
  height: 100%;
  background-color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div#problem {
  animation: problem-indicator infinite 4s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes problem-indicator {
  0% { background-color: #f44336 }
  50% { background-color: #ffebee }
  100% { background-color: #f44336 }
}